body {
	background-image: url(assets/cupcake.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: black;
	text-align: left;
	font-size: 20px;
	font-family: arial, Serif;
	font-weight: bold;
	padding: 4px;
}

h1 {
	text-align: center;
}

#container {
	width: 48%;
	height: 565px;
	padding: 7px;
	float: right;
}

#calculationOutput {
	color: purple;
	line-height: 5px;
	font-size: 25px;
}

button {
	color: white;
	font-size: 18px;
	background-color: Green;
	border-radius: 8px;
}

button:hover {
	background-color: LightSeaGreen;
}

#button-area {
	text-align: center;
}

input:focus {
    background-color: lightgreen;
}

#calculationOutput {
	text-align: center;
}

footer {
	width: 100%;
	height: 22px;
	background: black;
	color: white;
	font-family: Serif, Georgia;
	font-size: 16px;
	text-align: center;
	position: fixed;
	left: 0px;
	bottom: 0px;
	padding: 5px
}

#your-day {
	width: 50%;
	height: 585px;
	background-image: url("assets/furries.jpg");
	display: none;
	float: left;
}

#your-day:hover{
	opacity: 0.1;
}

#refresh {
	font-size: 16px;
	color: black;
}

#btn-container {
	display: inline;
	position: fixed;
	bottom: 30px;
}

#arrow {
	font-size: 45px;
	color: white;
}

#arrow-container {
	background: green;
	font-size: 32px;
	text-align: center;
	color: white;
	height: 64px;
	float: left;
	padding: 3px 3px;
	border-radius: 16px;
	border-style: inset;
}
